

.frame {
    width: 1000px;
    height: 5100px;
    border: 50px solid black;
    margin: 50px auto;
}

.canvas {
    width: 1000px;
    height: 5100px;
    background: linear-gradient(rgb(32, 139, 139), rgb(0, 0, 255), rgb(153, 50, 204) rgb(64, 224, 208), rgb(0, 0, 255), rgb(199, 21, 133), rgb(30, 144, 255), rgb(0, 0, 255), rgb(238, 130, 238), rgb(32, 178, 170), rgb(0, 0, 255), rgb(255, 0, 255,), rgb(30, 144, 255), rgb(0, 0, 255), rgb(199, 21, 133), rgb(60, 179, 113),);
}

hr {
    height: 10px;
    border: 20px solid black;
    vertical-align: auto;
}

h2 {
    font-size: 65px;
    text-align: center;
    color: silver;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: silver;
}

li {
        font-size: 35px;
        text-align: center;
        color: silver;
        font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    text-align: center;
    color: silver;
}