.frame {
    width: 1000px;
    height: 4300px;
    border: 50px solid black;
    margin: 50px auto;
}

.canvas {
    width: 1000px;
    height: 4250px;
    background: linear-gradient(rgb(32, 139, 139), rgb(0, 0, 255), rgb(153, 50, 204) rgb(64, 224, 208), rgb(0, 0, 255), rgb(199, 21, 133), rgb(30, 144, 255), rgb(0, 0, 255), rgb(238, 130, 238), rgb(32, 178, 170), rgb(0, 0, 255), rgb(255, 0, 255,), rgb(30, 144, 255), rgb(0, 0, 255), rgb(199, 21, 133), rgb(60, 179, 113));
}

.image {
    float: left;
    text-wrap: right;
    margin-left: 2.5cm;
}

.title {
    text-align: center;
    font-size: 125px;
}

ul {
    list-style-type: none;
    font-size: 40px;
    color: rgb(198, 38, 244);
}

li {
    display: inline
}

.navbarli {
    position: fixed;
    display: flex;
    padding: 100px;
}



body {   
    background-color: rgb(7,7,173);
}

hr {
    height: 10px;
    border: 20px solid black;
    vertical-align: auto;
}


h1 {
    vertical-align: center;
    font-size: 100px; 
    color: rgb(0, 255, 255); 
}

img {
    vertical-align: center;
    border: 6px solid silver;
}

iframe {
    
    border: 6px solid silver;
    padding-top: 2px;
    padding-right: 2px;
}

h2 {
    color: rgb(0, 255, 255);
    text-align: center;
    font-size: 65px; 
}
  
p {
   font-size: 40px;
   text-align: center;
   color: silver;
   padding-top: 2px;
   padding-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
   margin-left: 1.5cm;
   margin-right: 1.5cm;
   margin-bottom: 1.5cm;
}
    
h3 {
    color: rgb(0, 255, 255);    
    text-align: left;
    font-size: 45px;
    padding-left: 20px;
    margin-left: 1.5cm;
}

h4 {
    text-align: center;
}


