.frame {
    width: 1000px;
    height: 4500px;
    border: 50px solid black;
    margin: 50px auto;
}

.canvas {
    width: 1000px;
    height: 4500px;
    background: linear-gradient(lightseagreen, blue, darkorchid, turquoise, blue, mediumvioletred, dodgerblue, blue, violet, lightseagreen, blue, magenta, lightseagreen, blue, mediumvioletred, mediumseagreen);
}

.image {
    float: left;
    text-wrap: right;
    margin-left: 2.5cm;
}

.title {
    text-align: center;
    font-size: 125px;
}

ul {
    list-style-type: none;
    font-size: 40px;
    color: rgb(243, 41, 196);
}

li {
    display: inline
}

.navbarli {
    position: fixed;
    display: flex;
    padding: 100px;
}



body {   
    background-color: rgb(7,7,173);
}

hr {
    height: 10px;
    border: 20px solid black;
    vertical-align: auto;
}


h1 {
    vertical-align: center;
    font-size: 100px; 
    color: rgb(0, 0, 0); 
    
}

img {
    vertical-align: center;
    border: 6px solid silver;
}

iframe {
    
    border: 6px solid silver;
    padding-top: 2px;
    padding-right: 2px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 65px; 
}
  
p {
   font-size: 40px;
   text-align: center;
   color: rgb(0, 0, 255);
   padding-top: 2px;
   padding-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
   margin-left: 1.5cm;
   margin-right: 1.5cm;
   margin-bottom: 1.5cm;
}
    
h3 {
    color: rgb(0, 0, 0);    
    text-align: left;
    font-size: 45px;
    padding-left: 20px;
    margin-left: 1.5cm;
}

h4 {
    text-align: center;
}


