
hr {
    height: 10px;
    border: 20px solid black;
    
}

.frame {
    width: 1000px;
    height: 4000px;
    border: 50px solid black;
    margin: 50px auto;
}

.canvas {
    width: 1000px;
    height: 4000px;
    background: linear-gradient(rgb(136, 6, 77), rgb(7, 7, 173), purple, darkblue, rgb(13, 117, 106), 
    #8b0045, purple, darkblue, darkgreen, blue, purple, rgb(11, 11, 248), rgb(30, 230, 30), darkblue);
}

h1 {
    text-align: center;
    font-size: 75px;
    color: silver;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 65px;
    color: silver;
    padding-bottom: 5px;
}

p {
    text-align: center;
    font-size: 40px;
    color: silver;
    
}