body {
    background-color: rgb(21, 21, 138);
}

hr {
    height: 10px;
    border: 20px solid black;
}


.frame {
    width: 1000px;
    height: 5600px;
    border: 50px solid black;
    margin: 50px auto;
}

.canvas {
    width: 1000px;
    height: 5500px;
    background: linear-gradient(rgb(32, 139, 139), rgb(0, 0, 255), rgb(153, 50, 204), rgb(64, 224, 208), rgb(0, 0, 255), rgb(199, 21, 133), rgb(30, 144, 255), rgb(0, 0, 255), rgb(238, 130, 238), rgb(32, 178, 170), rgb(0, 0, 255), rgb(255, 0, 255,), rgb(30, 144, 255), rgb(0, 0, 255), rgb(199, 21, 133), rgb(60, 179, 113));
}



h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(0, 255, 255);
    padding-bottom: 5px;

}


h2 {
    text-align: center;
    font-size: 65px;
    color: silver;
    padding-bottom: 5px;
    padding-left: 30px;
   
}

p {
    text-align: center;
    font-size: 50px;
    color: silver;
    
}

h4 {
    text-align: center;
}


   
